<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="Page" content="<%= page %>" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'tomatoe.css' %>
  </head>
  <body>
    <div class="topNav">
        <%= link_to "Home", root_path, :id => "topNav.Home" %> | <%= link_to "Contact", contact_path, :id => "topNav.Contact" %>
    </div>
    <div class="caption">
      <h1><%= caption %></h1>
    </div>
    <div class="leftNav">
      <ul>
        <li>
          <%= link_to "Home", root_path, :id => "leftNav.Home" %>
        </li>
        <li>
          <%= link_to "Contact", contact_path, :id => "leftNav.Contact" %>
        </li>
      </ul>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      Copyright 2011 Mikado Consult | Design: <a href="http:www.yomena.de">www.yomena.de</a> | Photo: Mylene Bressan for <a href="http://16542.openphoto.net">openphoto.net</a> | CC:<a href="http://creativecommons.org/licenses/by/3.0">Attribution</a>
   </div>
  </body>
</html>